$scheduler-background-color-1:rgb(230, 223, 223);
$diagram-background-color-1:rgb(230, 223, 223);
$parameters-background-color-1:rgb(228, 231, 235);
$table-background-color-1:rgb(230, 223, 223);





